@import url('https://fonts.googleapis.com/css2?family=Tourney:wdth,wght@104.6,900&display=swap');

body{
    background-color: #47262C;
    text-align: center;
    color: orange;
    font-family: 'Tourney', cursive;
}

#descreption{
    font-size: 30px;
}

a{
    color: orange;
    text-decoration: none;
}